@{
    ViewBag.Title = "Spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/scripts/require.js")"
        data-main="/scripts/app/main"></script>
<div id="app">



</div>