<text>
    <script>

        $(function () {
            // yay!
            setProgress(4)

        });
    </script>
</text>

<h1>Sucess Application</h1>
<br /> 
<h1>Application Code</h1>
<h1>@ViewBag.appID</h1>