@{
    ViewBag.Title = "Spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/scripts/require.js")"
        data-main="/scripts/app/main"></script>

<text>
    <script type="text/javascript">
        require([
  'app', 'domain'
        ], function (app) {
            app.initialize();
        });


    </script>
</text>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Application Name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/application">Application</a></li>
                <li><a href="#/admission">Admission</a></li>
                <li><a href="#/admin/processApplication">Process Application</a></li>
                <li><a href="#/application/check">Check Application</a></li>
                <li><a href="#/admin/ConfigureAdmission">Configure Admission</a></li>
                <li><a href="#/admin/Sections">Configure Sections</a></li>
                <li><a href="#/Registration/AssignSection">Assign Sections</a></li>
                <li><a href="#/Staff/Claim">Claim staff</a></li>
                <li><a href="#/Staff/Register">Register staff</a></li>
                <li><a href="#/Admin/StaffClaims">StaffClaims</a></li>
                <li><a href="#/Admin/Classes">Classes</a></li>
            </ul>
        </div>
    </div>
</div>



<div id="app" class="container body-content" style="margin-top:150px">



</div>