﻿@{
    ViewBag.Title = "Spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/kendo/2017.1.118/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2017.1.118/kendo.bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/built/bundle.js")"></script>  
<div id="app"></div>